body {
	margin-left: 10%;
	margin-right: 10%;
	padding: 20pt;
	padding-top: 10pt;
	background: rgb(255,255,255);
	font:  10.5pt/15pt "Helvetica",Helvetica,sans-serif;
	color: rgb(80,80,80);
}

h1, h2, h3, h4 {
	font-family: "Trebuchet MS",Helvetica,sans-serif;
	color: rgb(22, 130, 178);
	font-weight: normal;
	padding-top: 0.5em;
	cursor: pointer;
}

hr {
	color: rgb(150, 220, 238);
	background: rgb(150, 220, 238);
	height: 1px;
	border: 0;
}


b {
	color: rgb(22,130,178);
}

strong {
	color: rgb(103,183,0);
}


a:link, a:active, a:visited {
	color: rgb(22,130,178);
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	background-color: #dbecf4;
}

aimg {
	border: 0;
}

#header, #footer {
	font-size: 7pt;
	clear: both;
	width: 100%;
	color: rgb(177,208,223);
}

.content {
	text-align: left;
}


#footer {
	padding-top:  30pt;
	text-align: right;
}

/*  Kiwi-specific  */

.title {
	margin-bottom: 0;
}

table.meta {
	max-width: 700px;
	padding: 5pt;
	margin-bottom:  2em;
	border-top:  1px solid rgb(150, 220, 238);
	background-color: rgb(250,250,250);
}

table.meta tr td {
	color: rgb(22, 130, 178);
}

table.meta tr td.name {
	font-weight: bold;
}

.content {
	max-width: 700px;
}

.heading .number {
	display: none;
	padding-right: 8pt;
}

.heading .number .lastDot {
	display: none;
}


.heading .number .level-0 .lastDot {
	display: inline;
}

h1 {
	font-size: 1.8em;
	font-weight: bold;
	margin-top: 1.5em;
	padding-bottom: 0.5em;
	border-bottom:  1px dotted rgb(150, 220, 238);
}

h2 {
	font-size: 1.4em;
	font-weight: bold;
	padding-bottom: 0.5em;
	border-bottom:  1px dotted rgb(150, 220, 238);
}

h3 {
	font-size: 1.2em;
	font-weight: normal;
}

pre {
	padding: 5pt;
	border:  1px solid rgb(150, 220, 238);
	padding-left: 20pt;
	background-color: rgb(240,240,250);
	font-size: 8pt;
	color: rgb(22,130,178);
}

code {
	font-size: 8pt;
	background-color: rgb(240,240,250);
}

dt {
	color: rgb(22,130,178);
	font-weight: bold;
}

dd {
	border-left:  1px solid rgb(150, 220, 238);
	padding-left: 20pt;
	margin-bottom: 2em;
}

dd pre {
}

ul {
	padding-top: 0em;
	margin-top: 0em;
}

ul li {
	padding-bottom: 0.2em;
}

ul li.todo {
	list-style-type: square;
}

ul li.todo.done {
	text-decoration: line-through;
}

table {
	border:  1px solid rgb(150, 220, 238);
	padding: 0pt;
}

table caption {
	font-family: serif;
	padding-top: 1em;
	padding-bottom: 0.5em;
	font-style: italic;
	font-size: 90%;
	color: rgb(22, 130, 178);
}

table tbody {
}

table tr {
	margin: 0;
}

table tr td {
	margin: 0;
	padding: 5pt;
	font-size: 90%;
	min-width: 125px;
	background-color: rgb(250,250,250);
	border-bottom: 1px solid rgb(150, 220, 238);
}

table tr td.lastRow {
	border-bottom: none;
}

table tr td.lastCol {
	border-right: none;
}

table tr.even td {
	background-color: #FEFEFE;

}

table tr.odd td {
	background-color: rgb(240,240,240);
}

.term {
	color: rgb(22, 130, 178);
	background: rgb(240, 250, 256);
}

.quote {
	font-style: italic;
	color: rgb(120, 120, 120);
}

.citation {
	font-style: italic;
	color: rgb(120, 120, 120);
}

div[class^="ann"] {
	margin-top: 5pt;
	margin-bottom: 5pt;
	padding: 5pt;
	padding-left: 20pt;
	color: rgb(100, 100, 100);
}

div[class^="ann"] .title {
	font-weight: bold;
}

.annNote {
	border:  1px solid rgb(103,183,0);
	margin-top: 5pt;
	margin-bottom: 5pt;
	padding: 5pt;
	padding-left: 20pt;
	background: #fffbe4;
	color: rgb(100, 100, 100);
	border:  1px solid #dedac3;
}

.annNote .title {
	font-weight: bold;
	display: none;
}

.reference {
	font:  8pt/12pt "Lucida Grande",Lucida,sans-serif;
	margin-top: 10pt;
	padding: 5pt;
	border-top:  1px solid rgb(200, 200, 200);
	background-color: rgb(250,250,250);
	color: rgb(200, 200, 200);
	font-size: 8pt;
}
.textoReferences a:link, .textoReferences a:active, .textoReferences a:visited {
	color: rgb(150,150,150);
}

.textoReferences .entry {
	padding-top: 5pt;
	clear: both;
}

.textoReferences .entry .name {
	float: left;
	font-weight: bold;
	padding-right: 5pt;
}

.textoReferences .entry .content {
	text-align: right;
}

